<table class="table">
    <tbody>
        <tr *ngFor="let city of cities;trackBy: trackByFn">
            <td><img src="http://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" width="50" height="50"></td>
            <td><b><a [routerLink]="['/city/', city.id]">{{city.name}}, {{city.sys.country}} </a> </b>
                <img src="http://openweathermap.org/images/flags/{{city.sys.country | lowercase}}.png"><b>
                    <i> {{city.weather[0].description}}</i></b>
                <p><span class="badge badge-info">{{city.main.temp - 273.15 | number :'1.1-1'}}°С </span>
                    temperature from {{city.main.temp_min - 273.15 | number :'1.1-1'}} to
                    {{city.main.temp_max - 273.15 | number :'1.1-1'}} °С</p>
                <div class="content">
                    <div class="panel left">
                        <label>Sunrise</label>
                        <img class="sun-icon" src="/assets/sunrise.svg" width="40" height="40">
                        <div class="time">{{city.sys.sunrise*1000 | date:'shortTime':'UTC'}}</div>
                    </div>
                    <div class="panel right">
                        <label>Sunset</label>
                        <img class="sun-icon" src="/assets/sunset.svg" width="40" height="40">
                        <div class="time">{{city.sys.sunset*1000 | date:'shortTime':'UTC'}}</div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
        